.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}


.header {
    background: #1f2937;
    margin: 0; 
    padding: 40px;
    flex: 1 100%;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
}

.navigation a {
    color: white;
    font-size: 30px;
}

.header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100px;
    height: 80px;

}

.header-logo img {
    width: 100%;
    height: auto;
}

