.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 30px;
    flex: 1 100%;
    display: flex;
}


.header {
    background: #1f2937;
    margin: 0; 
    flex: 1 100%;
    
}

.header-logo {
    justify-content: baseline;
}

.header-nav {
    list-style:none;
    justify-content: end;
    
}

.header-website{
    justify-content: first baseline;
}